<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPwiki</title>

    <link rel="shortcut icon" href="~/favicon.ico" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/selectize/dist/css/selectize.bootstrap3.css" />
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header pull-left">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WIKI</a>

                <ul class="nav navbar-nav pull-left">
                    <li class="hideNarrow"><a data-toggle="collapse" href="#sidePanel"><i class="fa fa-list" aria-hidden="true"></i></a></li>
                    
                    <li>
                        <div class="control-group" style="padding-left:8px;padding-top:8px;width:300px;">
                            <select id="searchBox" placeholder="Search..."></select>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="navbar-header pull-right">
                <ul class="nav navbar-nav pull-left" style="margin-right:15px;">
                    @if (!User.Identities.Any(u => u.IsAuthenticated))
                    {
                        <li><a asp-action="Login" asp-controller="Authentication">Login</a></li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="Logout" asp-controller="Authentication">
                                Logout: @User.Identity.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-left">

                </ul>
            </div>
        </div>
    </nav>

    @Html.Partial("_SideNav")

    <header class="header">
        <div class="header-content">
            <div class="header-content-inner">
                <div id="buttonContainer">
                    <button class="btn-add zoomIn" onclick="location.href='@Url.Action("New", "Wiki", null)'">
                        <div>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <i class="fa fa-file-o fa-2x" aria-hidden="true"></i>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main class="container body-content">
        <div class="row">
            <div class="col-sm-offset-2 col-md-10">
                @Html.Partial("Flash")
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2016 - ASP.NET Core Wiki</p>
                </footer>
            </div>
        </div>
    </main>
   
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jsdiff/diff.js"></script>
        <script src="~/lib/selectize/dist/js/standalone/selectize.js"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/jsdiff/diff.min.js"></script>
        <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>
        <script src="~/js/main.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
    @Html.RenderScriptsSection()

    <script>
        $('#searchBox').selectize({
            valueField: 'Path',
            labelField: 'Title',
            searchField:'Title',
            create: false,
            render: {
                option: function (item, escape) {
                    return '<div><span class="title">' +
                            '<span class="by">' + item.Title + '</span>' +
                        '</span></div>';
                }
            },
            load: function (query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '/Wiki/Search',
                    type: 'POST',
                    data: JSON.stringify({ data: query }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    async: true,
                    error: function () {
                        callback();
                    },
                    success: function (res) {
                        callback(res);
                    }
                });
            },
            onChange: function (value) {
                window.location.href = '/Wiki/View/' + value;
            }
        });
    </script>
</body>
</html>
