@{
    ViewData["Title"] = "Home";
}
@using ASPWiki.ViewModels;
@model List<List<WikipageSummary>>

<section>
    <div class="row">
        <div class="col-md-6">
            <h1>Latest</h1>
            @for (var i = 0; i < @Model[0].Count; i++)
            {
                @Html.Partial("PageLink", @Model[0][i]);
            }
        </div>

        <div class="col-md-6">
            <h1>Popular</h1>
            @for (var i = 0; i < @Model[1].Count; i++)
            {
                @Html.Partial("PageLink", Model[1][i]);
            }
        </div>
    </div>
</section>