@using ASPWiki.ViewModels
@model WikipageSummary

<article class="row page-link">
    <div class="col-sm-12">
        <a href="@Url.Action("View", "Wiki")/@Model.Path"><h3>@Model.Title</h3></a>
    </div>

    <div class="col-sm-12">
        @Html.Raw(@Model.ContentSummary)
    </div>

    <div class="col-sm-12">
        @Html.DisplayFor(m => m.Label)
        <span>Written by: @(@Model.Author == null ? "Uknown" : @Model.Author) - Size: @Model.Size</span>
        <span>@Model.AttachmentCount <i class="fa fa-paperclip" aria-hidden="true"></i></span>
    </div>
</article>