@using ASPWiki.ViewModels
@model WikipageSummary

<article class="row" style="margin:15px;word-break:break-all;">
    <div class="col-sm-12">
        <a href="/Wiki/View/@Model.Path"><h3>@Model.Title</h3></a>
    </div>

    <div class="col-sm-12">
        @Html.Raw(@Model.ContentSummary)
    </div>

    <div class="col-sm-12">
        @Html.Partial("~/Views/Wiki/Label.cshtml", Model.Label)
        <span>Written by: @(@Model.Author == null ? "Uknown" : @Model.Author) - Size: @Model.Size - @Html.DisplayFor(model => model.LastModified)</span>
        <span>@Model.AttachmentCount <i class="fa fa-paperclip" aria-hidden="true"></i></span>
    </div>
</article>