@using ASPWiki.Model
@model WikiPage

<article style="margin:15px;word-break:break-all;">
    <a href="/Wiki/View/@Model.GetPathString()"><h3>@Model.Title</h3></a>
    
    @Html.Raw(@Model.GetContentSummary())
    
    @Html.Partial("~/Views/Wiki/Label.cshtml", Model.label)
    <span>Written by: Unknown - Size: @Model.GetSizeKiloBytes() - @Html.DisplayFor(model => model.LastModified)</span> 
    <a href="#">5 <i class="fa fa-comment-o" aria-hidden="true"></i></a>
</article>