@using ASPWiki.Model
@model WikiPage

<article style="margin:15px;word-break:break-all;">
    <a href="/Wiki/View/@Model.Title"><h3>@Model.Title</h3></a>
    
    @Html.Raw(@Model.GetContentSummary())
    
    <span class="label label-info">Info</span>
    <span>Written by: Unknown - Size: @Model.GetSizeKiloBytes() - @Model.LastModified</span> 
    <a href="#">5 <i class="fa fa-comment-o" aria-hidden="true"></i></a>
</article>