@model WikipageEdit

@{
    ViewData["Title"] = "Edit";
}

<form id="wikiForm" asp-action="Save" method="post" enctype="multipart/form-data">
    <div class="row margin-top">

        @Html.HiddenFor(model => Model.Id)

        <div class="col-xs-6">
            <label for="title">Title</label>
            <input class="form-control" asp-for="Title" type="text" id="title" value="@Model.Title" />
        </div>

        <div class="col-xs-6">
            <label for="label">Label</label>
            <select class="form-control" asp-for="Label" asp-items="Html.GetEnumSelectList<Label>()"></select>
        </div>
        <div class="col-xs-12">
            <label for="path">Path:</label>
            <span id="pathString"></span>

            <div class="input-group">
                <span class="input-group-addon">@Url.Action("View", "Wiki")</span>
                <input class="form-control" asp-for="Path" type="text" id="path" placeholder="page/path/here/..." value="@Model.PathToParent" />
                <span class="input-group-addon" id="pathEnding"></span>
                <span class="input-group-addon" id="pathIcon"></span>
            </div>
        </div>

        <div class="col-xs-12">
            <textarea asp-for="Content" id="mytextarea">Hello, World!</textarea>
        </div>

        <section>
            <div class="col-xs-12">
                @Html.Partial("Attachments", Model.Attachments)
            </div>
        </section>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="form-group">
                <div id="newFiles" class="col-xs-12" style="margin:10px 0 10px 0">
                    <a id="addFile" class="pointer"><i class="fa fa-2x fa-plus-square"></i> Add new file</a>
                    <input type="file" asp-for="Attachments" name="uploads"/>
                </div>
            </div>
        }

        <div class="col-xs-12">
            <div class="row">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-sm-4">
                        <div class="hide">
                            @Html.EditorFor(x => x.Public)
                        </div>
                        <a id="togglePublic" class="noTextDecoration">
                            <div id="publicIcon" class="sm-btn zoomIn pointer"></div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a asp-controller="Wiki" asp-action="Delete" class="noTextDecoration">
                            <div class="sm-btn warning zoomIn">
                                Delete<i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                }
                <div class="col-sm-4">
                    <a id="saveButton" asp-controller="Wiki" asp-action="Save" onclick="document.getElementById('wikiForm').submit(); return false;" class="noTextDecoration">
                        <div class="sm-btn zoomIn">
                            <p class="inline">Save</p> <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a id="saveButtonDisabled">
                        <div class="sm-btn disabled">
                            Save <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{ 
<script src="~/lib/tinymce/tinymce.js"></script>
<script type="text/javascript">

  //INIT TEXT EDITOR
  tinymce.init({
      selector: '#mytextarea',
      height: 500,
      plugins: "codesample image imagetools link",
      toolbar: "undo, redo | bold, italic, underline, strikethrough | alignleft, aligncenter, alignright, alignjustify | formatselect, fontselect, fontsizeselect | bullist, numlist, outdent, indent, blockquote, | codesample link image"
  });

  //ADD NEW FILE
  $("#addFile").click(function () {
      $("#newFiles").append("<input type='file' asp-for='Attachments' name='uploads'/>");
  });

  //SET HIDDEN CHECKBOX TO COOL BUTTON
  $('#togglePublic').click(function () {
      if ($('#Public').is(":checked")) {
          $("#Public").prop("checked", false);
          $("#publicIcon").html("<p style='display:inline;'>HIDDEN</p><i class='fa fa-eye-slash' aria-hidden='true'></i>").css("background-color", "orange");
      }
      else {
          $("#Public").prop("checked", true);
          $("#publicIcon").html("<p style='display:inline;'>PUBLIC</p><i class='fa fa-eye' aria-hidden='true'></i>").css("background-color", "gray");
          $('#togglePublicLabel').text("PUBLIC");
      }
  });

  if ($('#Public').is(":checked")) {
      $("#publicIcon").html("<p style='display:inline;'>PUBLIC</p><i class='fa fa-eye' aria-hidden='true'></i>").css("background-color", "gray");
  }
  else {
      $("#publicIcon").html("<p style='display:inline;'>HIDDEN</p><i class='fa fa-eye-slash' aria-hidden='true'></i>").css("background-color", "orange");
  }

  //VALIDATE PATH ON ENTER
  $(":input").on("keydown", function (event) {
      if (event.which === 13 && !$(this).is("textarea, :button, :submit")) {
          $(this).blur();
      }
  });

  //VALIDATE PATH AND SET SAVE BUTTON !DISABLED
  var startVal = $("#path").val();
  ValidatePath();

  $("#title").on("keydown", function () {
      pathEnding();
  });

$("#path, #title").on("change, blur", function () {
    ValidatePath();
});
 
function ValidatePath() {
    var pathVal = $("#path").val();
    var title = $("#title").val();
    var path;

    if (pathVal != "" && pathVal != null)
        path = pathVal + "/" + title;
    else
        path = title;

    $("#pathIcon").html("<i class=\"fa fa-spinner fa-spin fa-fw\"></i>");

    $.ajax({
        url: '/Wiki/IsValidPath',
        type: 'POST',
        data: JSON.stringify({ Path: path, Id: "@Model.Id" }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function (msg) {
            if (typeof (msg) !== "string") {

                var pathString = "";
                var pathUrl = "/Wiki/View";

                for (let i = 0; i < msg.length; i++) {
                    if (i != msg.length - 1) {
                        pathUrl += "/" + msg[i];
                        pathString += "<a href=\"" + pathUrl + "\">" + msg[i] + "</a> <i class=\"fa fa-angle-double-right\" aria-hidden=\"true\"></i> ";
                    }
                    else {
                        pathString += msg[i];
                    }
                }

                $("#pathString").html(pathString);
                pathEnding();
                $("#pathIcon").html("<i class=\"fa fa-check\"></i>");
                enableSaveButton();
            }
            else {
                $("#pathString").text(msg);
                pathEnding();
                $("#pathIcon").html("<i class=\"fa fa-close\"></i>");
                disableSaveButton();
            }
        }
    });
}

function pathEnding()
{
    $("#pathEnding").html("/" + $("#title").val());
}

//DISABLE SAVE BUTTON IF PATH NOT VALID.
function disableSaveButton() {
    $("#saveButton").hide();
    $("#saveButtonDisabled").show();
}

function enableSaveButton() {
    $("#saveButton").show();
    $("#saveButtonDisabled").hide();
}

</script>
}