@model WikipageView

@{ 
    ViewData["Title"] = Model.Title;
}

<article>
    <div class="row margin-top">
        <div class="row col-sm-12">
            <div class="col-md-6">
                <h1 class="inline">@Model.Title</h1>
                <span>
                    @if (!Model.Public)
                    {
                        <i class="fa fa-eye-slash fa-2x" aria-hidden="true" style="color:orange" data-toggle="tooltip" title="Hidden"></i>
                    }
                </span>
                @Html.DisplayFor(m => m.Label)

                <div class="row">
                    @Html.Partial("Versions")
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="col-sm-4 removePadding">
                            <a asp-controller="Wiki" asp-action="Edit" class="noTextDecoration">
                                <div class="sm-btn zoomIn">
                                    Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-4 removePadding">
                            <a asp-controller="Wiki" asp-action="Delete" class="noTextDecoration">
                                <div class="sm-btn warning zoomIn">
                                    Delete <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-4 removePadding">
                            <a href="#" id="diff" class="noTextDecoration">
                                <div class="sm-btn label-info zoomIn">
                                    Diff <i class="fa fa-tasks" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <section class="margin-top">
        @Html.Partial("Attachments", Model.Attachments)
    </section>

    <div id="content">
        @Html.Raw(@Model.Content)
    </div>

    <div id="diffDisplay"></div>
</article>

<br />
<div class="row">
    <div class="col-sm-12">
        <span>Written by: @(@Model.Author == null ? "Unknown" : @Model.Author) - Size: @Model.Size - @Html.DisplayFor(model => model.LastModified)</span>
    </div>
</div>

@section scripts{ 
<script src="~/js/prettify.js"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $("pre > code").parent().addClass('prettyprint');
        prettyPrint();
    });


    @if (@Model.ContentHistory.Count > 1) {
        int version = Convert.ToInt32(Context.Request.Query["version"]);
        string other = "";
        string one = "";

        if (version > 0)
        {
            other = Model.ContentHistory[version];
            one = Model.ContentHistory[version - 1];
        }
        else
        {
            other = Model.ContentHistory[Model.ContentHistory.Count - 1];
            one = Model.ContentHistory[Model.ContentHistory.Count - 2];
        }

        <text>
        var other = String("@other");
        var one = String("@one");
        </text>
    }

    var color = '',
    span = null;

    var diff = JsDiff.diffWords(one, other),
    display = document.getElementById('diffDisplay'),
    fragment = document.createDocumentFragment();

    diff.forEach(function(part){
        color = part.added ? '#3FB8AF' : part.removed ? '#FF3D7F' : 'grey';
        span = document.createElement('span');
        span.style.color = color;
        span.appendChild(document.createTextNode(part.value));
        fragment.appendChild(span);
    });

    display.appendChild(fragment);

$("#diffDisplay").hide();

$("#diff").on("click", function () {
    $("#content").toggle("slow", function () { });
    $("#diffDisplay").toggle("slow", function () { });
});
</script>
}
