@using ASPWiki.Model;
@model WikiPage

@{ 
    ViewData["Title"] = Model.Title;
}

<article>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-8">
            <h1>@Model.Title</h1>

            @Html.Partial("~/Views/Wiki/Label.cshtml", Model.label)

            <span>
                @Html.Partial("PathLink", Model.Path)
            </span>
        </div>
        <div class="col-md-4">
            <a asp-controller="Wiki" asp-action="Edit">
                <div class="sm-btn zoomIn" style="float:right;">
                    Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
            </a>
            <a asp-controller="Wiki" asp-action="Delete">
                <div class="sm-btn warning zoomIn" style="float:right;">
                    Delete <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </a>
        </div>

        <!--Version history-->
        <div class="col-md-12">
            <div style="margin:15px;">
                @{bool focus = false; }

                @for (int i = 0; i < Model.ContentHistory.Count; i++)
                {
                    string focused = "";
                    if (i.ToString() == Context.Request.Query["version"] || !focus && i == Model.ContentHistory.Count - 1)
                    {
                        focused = "success";
                        focus = true;
                    }

                    <span style="margin-right:32px;">
                        <a href="/Wiki/View/@Model.GetPathString()?version=@i">
                        <i class="fa fa-circle-thin fa-2x @focused zoomInHide" style="position:absolute;" aria-hidden="true"></i>
                        <i class="fa fa-circle fa-2x zoomInShow" style="position:absolute;" aria-hidden="true"></i>
                        </a>
                    </span>

                    if (i != Model.ContentHistory.Count - 1)
                    {
                        <i class="fa fa-minus fa-2x" aria-hidden="true"></i>
                    }
                }
            </div>
        </div>

    </div>

    @Html.Raw(@Model.Content)
</article>
